.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  height: 45px;
  /* background-color: #1818f19e; */
  background-color: #d5d5f7;
  border-bottom: 1px solid black;
  width:100%;
  display: flex;
  justify-content: space-around;
  padding: 4px;
}

.nav p {
  margin: 0;
}
.nav img{
  height: 40px;
}

.container {
  margin: 0 auto;
  max-width: 112.0rem;
  /* padding: 0 2.0rem; */
  position: relative;
  width: 100%;
}
.auth {
background-image: url('./images/back3.jpg');
backdrop-filter: 10px;
background-position: center;
background-size: cover;
max-width: 112.0rem;
/* width: 100%; */
height: 100vh;
}

.first-forms{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-top: 9vh;
  width: 100%;
  padding-left: 2vh;
}

.first-forms label{
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-shadow: 4px 3px 0px #2604042b;
  
}
.first-forms input{
  background-color: #f8f8ffb8;
  /* background-color: #000000ba; */
  width: 65%;
  border-radius: 9px;
  height: 30px;
  border-color: transparent;
  color: black;
}

.first-forms button {
  font-size: 17px;
  background: black;
  padding: 4px;
  margin: 10px;
  border-radius: 13px;
  color: white;
  border-color: black;

}

.firstButton{
  display: grid;
  padding: 7px;
  background-color: #f8f8ffb8;
  color: black;
  border-radius: 50px;
  margin-right: 13vh;
  margin-left: 17px;
}
/*----------pages---------*/
.myPage-container { 
  display: flex;
  flex-direction: row;
  border: white;
  border-radius: 14px;
  background-color: #f0f8ff70;
  margin: 22px;
  justify-content: space-between
}

.my-information {
  padding: 10px;
}
.my-information img {
  border-radius: 6px;
}

.myPage-links {
  flex-direction: column;
  display: flex;
  padding: 4px;
}

.linkMypage {
  text-decoration: none;
  color: #5083df;;
}